body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  /* background-color: #788e98; */
  color: cadetblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#movieInput{
  float: right;
}
#movieInput::placeholder{
  color:cadetblue;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.movie{
  /* border: 1px solid #ddd; */
  margin: 5px;
  padding: 5px;
  width: calc(20% - 10px);
  box-sizing: border-box;
}

.movie .card {
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.modal-dialog {
  max-width: 80%; 
}

.modal-body {
  padding: 10px; 
}

.modal-title {
  font-size: 1.2rem; 
  padding-bottom: 10px; 
}

.movie h3{
  color: cadetblue;
}

.movie img{
  width: 100%;
  height: auto;
}

#pagination{
  text-align: center;
}
#pageNumber {
  /* background-color: #333; */
   color: black;
   margin-top: 2px;
   padding: 10px 20px; 
}

#prevBtn{
  background-color: #333;
   color: white;
   margin-top: 2px;
   padding: 10px 20px; 
}
#nextBtn {
   background-color: #333;
   color: white;
   margin-top: 2px;
   padding: 10px 20px; 
}

#footer {
   position: fixed;
   height: 50px;
   bottom: 0;
   width: 100%;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
}