body {
  background-color: #030303;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  color:rgb(213, 251, 251);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#movieInput{
  margin-top: 10px;
  margin-bottom: 10px;
  /* text-align: center; */
  margin-left: 10px;
}
#movieInput::placeholder{
  color:cadetblue;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.movie{
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.movie h3{
  color: rgba(233, 243, 140, 0.87);
}

.movie p{
  color: rgba(233, 243, 140, 0.87);
}

.movie img{
  width: 100%;
  height: auto;
}

#pagination{
  text-align: center;
}

#pageNumber {
  color: white;
}

#footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
}